<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.CategoryMapper">

    <resultMap id="CategoryResult" type="ltd.newbee.mall.entity.Category">
        <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
        <result property="categoryLevel" column="category_level" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
        <result property="categoryRank" column="category_rank" jdbcType="INTEGER"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="VARCHAR"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id, category_level, parent_id, category_name, category_rank,
        is_deleted, create_time, create_user, update_time, update_user
    </sql>

    <select id="findGoodsCategoryList" parameterType="Map" resultMap="CategoryResult">
        select
            <include refid="Base_Column_List"/>
        from
            tb_newbee_mall_goods_category
        <where>
            <if test="categoryLevel!=null and categoryLevel!=''">
                and category_level = #{categoryLevel}
            </if>
            <if test="parentId!=null and parentId!=''">
                and parent_id = #{parentId}
            </if>
            and is_deleted = 0
        </where>
        order by
            category_rank
        desc
        <if test="page != null and limit != null">
            limit #{page}, #{limit}
        </if>
    </select>

    <select id="getTotalGoodsCategories" resultType="int">
        select
               count(1)
        from
            tb_newbee_mall_goods_category
        where
              is_deleted = 0
    </select>

</mapper>
